{% include 'navbar_manager.html' %}

{% block styles %}
{% load static %}
<title>Restaurants San Rafael</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'restaurant/login.css' %}" type="text/css">
<script src="{% static 'restaurant/login.js' %}" type="text/javascript"></script>
{% endblock %}

<div id="container" class="container pt-3" >
    <br />
    <h3>Capacidad del Restaurante  </h3>
    <form action="{% url 'restaurant:restaurants-capacity' manager.id restaurant.id%}" method="post" class="menu_item" oninput="total_capacity.value=parseInt(capacity.value)*parseInt(capacity_percent.value)/100">
        {% csrf_token %}
        <br />
        <p>Capacidad del Restaurante</p>
        <input id = "capacity" class="form-control col-4" name = "capacity" type="number" maxlength="100" value={{ restaurant.capacity }}>
        <br />
        <p>Porcentaje de capacidad</p>
        <input id = "capacity_percent" class="form-control col-4" name = "capacity_percent" min="0" max="100" type="number" maxlength="3" value={{ restaurant.capacity_percent }}>
        <br />
        <p>Capacidad Disponible</p>
        <input id = "total_capacity" class="form-control col-4" name = "total_capacity" type="number" value={{ restaurant.total_capacity }}>
        <br />
        <input type="submit" class="btn btn-outline-secondary" id = "sf_submit" value="Guardar">
        <br />
    </form>
</div>
