{% block styles %}
{% load static %}
<title>Restaurants San Rafael</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'restaurant/login.css' %}" type="text/css">
<script src="{% static 'restaurant/login.js' %}" type="text/javascript"></script>
<link rel="shortcut icon" type="image/png" href="{% static 'restaurant/core/icon.png' %}"/>
{% endblock %}

{% block content %}

        <div class="login-reg-panel">
            <div class="login-info-box">
                <h2>Have an account?</h2>
                <p>Holi</p>
                <label id="label-register" for="log-reg-show">Login</label>
                <input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
            </div>

            <div class="register-info-box">
                <a id="label-login" class="text-secondary" href="/admin">Administrator</a>
                <p></p>
                <h2>¿No tenés una cuenta?</h2>
                <!--<p>Ingresá tus datos</p>-->
                <p>Comunicate a 260 405-1881</p>
                <p>Evelin Guizzardi</p>
                <!--<label id="label-login" for="log-login-show">Registrar</label>-->
                <input type="radio" name="active-log-panel" id="log-login-show">
            </div>

            <div class="white-panel">
                <div class="login-show">
                    <form action="{% url 'restaurant:login' %}" method="post">
                    {% csrf_token %}
                        <h2>LOGIN</h2>
                        <input name = "username" type="text" placeholder="Usuario">
                        <input name = "password" type="password" placeholder="Contraseña">
                        <input type="submit" value="Login">
                        <a href="{% url 'restaurant:password_recovery' %}">Olvido su contraseña?</a>
                    </form>
                </div>
                <div class="register-show">
                    <h2>REGISTER</h2>
                    <input type="text" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <input type="password" placeholder="Confirm Password">
                    <input type="button" value="Register">
                </div>
            </div>
        </div>

{% endblock %}

