<!DOCTYPE html>
<html>
<head>
<title>Restaurantes San Rafael</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'restaurant/layout.css' %}" type="text/css">
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1>Restaurantes San Rafael</h1>
	  <h2>Bienvenidos a nuestra web</h2>
    </div>
    <nav>
      <ul>
        <li><a href="/admin">Administrador</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
      <figure><img src="{% static 'restaurant/images/logo.png' %}" alt="">
        <figcaption>
          <form action="{% url 'restaurant:login' %}" method="post">
              {% csrf_token %}
              <br />
              <br />
              <br />
              <br />
              <br />
              <input name = "username" class="form-control" placeholder="Usuario" required>
              <br />
              <input name = "password" class="form-control" type="password" placeholder="Password" required>
              <br />
              <input type="submit" id = "sf_submit" value="Log In">
              <br />
              <a id = "register" href="{% url 'restaurant:register' %}">No tenés una cuenta? Contactate con stefania.g.a@outlook.com</a>
              <br />
          </form>
            {% if error_message %}<p id="error">{{ error_message }}</p> {% endif %}
            {% if info_message %}<p id="info">{{ info_message }}</p> {% endif %}
        </figcaption>
      </figure>
    </section>
    <!-- / content body -->
  </div>
</div>
</body>
</html>
