<!DOCTYPE html>
<html>
<head>
<title>Restaurant</title>
<meta charset="utf-8">
    {% load staticfiles %}
<link rel="stylesheet" href="{% static 'restaurant/layout.css' %}" type="text/css">
    <script src="{% static 'restaurant/sorttable.js' %}"></script>
</head>
<body>
{% include 'navbar_manager.html' %}
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
        <h1>Profile</h1>
        <br />
        {% if error_message %}<p id="error">{{ error_message }}</p>{% endif %}
        {% if info_message %}<p id="info">{{ info_message }}</p>{% endif %}
        <br />
        <form action="{% url 'restaurant:updating' manager.id %}" method="post" class="menu_item">
              {% csrf_token %}
              <br />
              {% if user.first_name %}
                  <input id = "name" name = "first_name" type="text" value="{{ user.first_name }}">
                  {% else %}
                  <input id= "name" name="first_name" type="text" placeholder="First Name">
              {% endif %}
              <br />
              {% if user.last_name %}
                  <input id = "name" name = "last_name" type="text" value="{{ user.last_name }}">
                  {% else %}
                  <input id= "name" name="last_name" type="text" placeholder="Last Name">
              {% endif %}
              <br />
              <input id= "name" name = "password1" type="password" placeholder="New Password"  pattern=".{8,30}"  title="8 characters minimum, 30 maximum">
              <br />
              <input id= "name" name = "password2" type="password" placeholder="Repeat New Password"  pattern=".{8,30}"  title="8 characters minimum, 30 maximum">
              <br />
              <button class="btn btn-info" type="submit" id = "sf_submit" value="Update">Enviar</button>
              <br />
        </form>
        <br />
        <br />
    </section>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
</body>
</html>
