<!DOCTYPE html>
<html>
<head>
<title>Restaurant</title>
<meta charset="utf-8">
    {% load staticfiles %}
<link rel="stylesheet" href="{% static 'restaurant/layout.css' %}" type="text/css">
    <script src="{% static 'restaurant/sorttable.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'restaurant/core/icon.png' %}"/>
</head>
<body>

{% include 'navbar_manager.html' %}
<!-- content -->
<div>
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
        {% include 'restaurant_information.html' %}
        <br />
        <a  class="btn-group-vertical d-flex justify-content-center" href="{% url 'restaurant:menu' restaurant.id manager.id %}">
            <button class="btn btn-outline-dark">Editar Menúes</button>
        </a>
        <a class="btn-group-vertical d-flex justify-content-center" href="{% url 'restaurant:reservations-list' manager.id restaurant.id%}">
            <button class="btn btn-outline-dark">Ver Reservas</button>
        </a>
        <br />

    </section>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
</body>
</html>
