<!DOCTYPE html>
<html>
<head>
<title>Restaurant</title>
<meta charset="utf-8">
    {% load staticfiles %}
<link rel="stylesheet" href="{% static 'restaurant/layout.css' %}" type="text/css">
    <script src="{% static 'restaurant/sorttable.js' %}"></script>
</head>
<body>
{% include 'navbar_manager.html' %}
<!-- content -->
<div >
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
        {% include 'restaurant_information.html' %}
        <br />
        <h3>Menu</h3>
        <br />
        <br />
        <table class="table">
            <thead class="thead-light">
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Eliminar Item</th>
                <th>Editar Item</th>
            </thead>
            {% for item in menu %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td id="price">{{ item.price }} </td>
                    <td><a href="{% url 'restaurant:remove' item.id restaurant.id manager.id %}"><button class="btn btn-danger" >Eliminar</button></a></td>
                    <td><a href="{% url 'restaurant:edit' item.id restaurant.id manager.id %}"><button class="btn btn-warning">Editar</button></a></td>
                </tr>
            {% endfor %}
        </table>
        <br />
        <br />
        <br />
        <h3>Insertar nuevo menú</h3>
        <form action="{% url 'restaurant:insert' restaurant.id manager.id %}" method="post" class="menu_item">
              {% csrf_token %}
              <br />
              <input id = "name"  class="form-control" name = "name" type="text" placeholder="Nombre" maxlength="100" required>
              <br />
              <textarea id = "description" class="form-control" name = "description" type="text" placeholder="Descripción" maxlength="200" required></textarea>
              <br />
              <input id = "price" class="form-control" name = "price" type="number" placeholder="Precio" required step="0.01">
              <br />
              <input type="submit" id = "sf_submit" value="Insertar">
              <br />
          </form>
    </section>
    <!-- / content body -->
  </div>
</div>
</body>
</html>
