{% block styles %}
{% load static %}
<title>Restaurants San Rafael</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'restaurant/login.css' %}" type="text/css">
<script src="{% static 'restaurant/login.js' %}" type="text/javascript"></script>
{% endblock %}

<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1>Restaurantes San Rafael</h1>
	  <h2>Bienvenido a nuestra aplicación</h2>
    </div>
    <nav>
      <ul>
        <li class="last"><a href="{% url 'restaurant:index' %}">Log In</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
        <h2>Register to our website</h2>
        <br />
        <br />
        {% if info_message %}<p id="info">{{ info_message }}</p>{% endif %}
        {% if error_message %}<p id="error">{{ error_message }}</p>{% endif %}
        <br />
        <br />
        <h3>Fill form below</h3>
        <form action="{% url 'restaurant:registration' %}" method="post" class="menu_item">
              {% csrf_token %}
              <br />
              <input id = "name" name = "username" type="email" placeholder="Email address" maxlength="30" required>
              <br />
              <input id= "name" name = "password1" type="password" placeholder="Password"  pattern=".{8,30}"  required title="8 characters minimum, 30 maximum">
              <br />
              <input id = "name" name = "password2" type="password" placeholder="Repeat Password" pattern=".{8,30}" required title="8 characters minimum, 30 maximum">
              <br />
              <input type="submit" id = "sf_submit" value="Register">
              <br />
          </form>
    </section>
    <!-- / content body -->
  </div>
</div>
</body>
</html>
