{% block styles %}
{% load static %}
<title>Restaurants San Rafael</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'restaurant/login.css' %}" type="text/css">
<script src="{% static 'restaurant/login.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
{% include 'navbar_manager.html' %}
<h1 class="d-flex justify-content-center">Reservas</h1>
<div class="container pt-3">
	<br />
	<li class="list-group-item list-group-item-secondary" >
			<div class="row">
			  	<div class="col text-center">Horario</div>
                <div class="col text-center">Tiempo de Reserva</div>
				<div class="col text-center">Invitados</div>
                 <div class="col text-center">Nombre de la Reserva</div>
			</div>
	    </li>
  {% for object in reservation_list %}
	    <li class="list-group-item list-group-item-action" >
			<div class="row">
			  	<div class="col text-center">{{ object.coming }}</div>
                <div class="col text-center">{{ object.duration }} horas</div>
				<div class="col text-center">{{ object.number_guest }} personas</div>
                 <div class="col text-center">{{ object.name }}</div>
			</div>
	    </li>
{% empty %}
		<div class="d-flex">
			<li class="list-group-item list-group-item-light">No hay Reservas registradas</li>
		</div>
{% endfor %}
</div>

{% endblock %}
