{% block styles %}
{% load static %}
<title>Restaurants San Rafael</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="shortcut icon" type="image/png" href="{% static 'restaurant/core/icon.png' %}"/>
{% endblock %}
{% block content %}
<div style="background-color:rgb(236, 48, 20, 0.9);" class="row text-white p-3">
  <div class="col">
    <div class="text-light" href="#">
      <h5>Bienvenido {{ user.get_full_name }}</h5>
      <h6>Restaurant {{ restaurant.name }}</h6>
    </div>
  </div>
  <div class="col">
    <nav  class="navbar navbar-expand-sm navbar-dark d-flex flex-row-reverse">
      <div class="">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'restaurant:restaurants-list' %}">Home</a>
          </li>
          {% if restaurant.id %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'restaurant:manager' manager.id restaurant.id %}">Restaurante</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'restaurant:restaurants-capacity-view' manager.id restaurant.id %}">Capacidad</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'restaurant:profiling' manager.id %}">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'restaurant:logout' %}">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
{% endblock %}
