{% block styles %}
{% load static %}
<title>Restaurants San Rafael</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'restaurant/login.css' %}" type="text/css">
<script src="{% static 'restaurant/login.js' %}" type="text/javascript"></script>
{% endblock %}

<h1>{{ restaurant.name }}</h1>
        <h2>{{ restaurant.description }}</h2>
        <br />
        {% if restaurant.address != None %}
        <h2>{{ restaurant.address }}</h2>
        {% endif%}
        <br />
        {% if restaurant.total_capacity != 0 %}
        <h2>Capacidad disponible {{ restaurant.total_capacity }} personas</h2>
        {% endif%}